<!--<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" mdbStickyHeader>
  <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>
</mdb-navbar>

<div style="height: 300vh"> </div>

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" mdbStickyHeader>
  <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>

  <div class="fixed-nav-bar">
    <nav class="navbar navbar-inverse">
      <div class="collapse navbar-collapse" id="myNavbar">
        <img src="./assets/images/nrg_logo.png"  class="logo-img" />
      </div>
    </nav>
  </div>
      
  
</mdb-navbar>

-->

 

<div id="fixed-heder">
  <div class="fixed-nav-bar">
      <nav class="navbar navbar-inverse" id="back-colorforheader">
        <div class="collapse navbar-collapse" id="myNavbar">
          <div class="col-lg12">

            <div class="col-lg-3" id="search">
                <input type="text" placeholder="&#xf002;   search here" class="searchicon"/>
            </div>

            <div class="col-lg-6">
                <img src="./assets/images/nrg_logo.png"  class="logo-img" />
            </div>

            <div class="col-lg-3">
              <div class="row">
                <div class="col-lg-2">
                   <div id="user-img"> 
                      <img src="./assets/images/user.png">
                   </div>
                </div>
                <div class="col-lg-5">
                    <label id="welcome-text">Welcome </label>
                    <label id="name-text">Hendri </label>
                    <label id="welcome-text">General manager</label>
                </div>
                <div class="col-lg-5">
                  <div class="row">
                      <div id="user-img1">
                        <i class="fa fa-cog" aria-hidden="true" id="icon-color"></i>
                      </div>
                      <div id="user-img2">
                        <i class="fa fa-power-off" aria-hidden="true" id="icon-color"></i>
                      </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
        </div>
      </nav>
    </div>
  </div>
